<a href="https://colab.research.google.com/github/NRomeroO/Pandas/blob/main/Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
url= 'https://raw.githubusercontent.com/NRomeroO/Pandas/main/LeagueOfLegendsChampionStats.csv'
df=pd.read_csv(url,sep=',',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Name,Class,Role,Tier,Score,Trend,Win %,Role %,Pick %,Ban %,KDA,Parche
1,Aatrox,Fighter,TOP,A,58.25,6.52,49.97%,94.62%,4.43%,2.03%,1.97,12.1
2,Ahri,Mage,MID,A,53.21,-0.24,49.93%,93.47%,4.62%,1.04%,2.56,12.1
3,Akali,Assassin,MID,S,65.3,6.51,48.59%,65.65%,8.16%,12.88%,2.34,12.1
4,Akali,Assassin,TOP,A,57.87,3.34,48.57%,34.06%,4.24%,12.88%,02.04,12.1

Este es el dataset que mas me interesa, es sobre league of legends, el mismo tiene los stats de los campeones junto con su % de win rate, pick, Ban y KDA y va mostrando como va cambiando parche a parche.

In [11]:
import pandas as pd
url= 'https://raw.githubusercontent.com/NRomeroO/Pandas/main/fastfood.csv'
df=pd.read_csv(url,sep=',',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
1,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3,11,37,4,20,20,Other
2,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,1.5,130,1580,62,2,18,46,6,20,20,Other
3,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3,18,70,10,20,50,Other
4,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2,18,55,6,25,20,Other

Este dataset me parecío interesante ya que se puede sacar informacion util sobre la alimentacion y proyecta lo que consumimos en algo tan simple como un mc.

In [19]:
import pandas as pd
url= 'https://raw.githubusercontent.com/NRomeroO/Pandas/main/delitos_2021%20(1).csv'
df=pd.read_csv(url)
df.head(5)

,id-mapa,anio,mes,dia,fecha,franja,tipo,subtipo,uso_armas,barrio,comuna,latitud,longitud,cantidad
0,HC-2021-1008202,2021,Enero,Miércoles,1/6/2021,18,Homicidio,Siniestro Vial,NaN,Constitución,1.0,-34.62761,-58.379146,1.0
1,HC-2021-1009094,2021,Enero,Jueves,1/7/2021,10,Homicidio,Siniestro Vial,NaN,Mataderos,9.0,-34.64972969,-58.51058958,1.0
2,HC-2021-1013236,2021,Enero,Domingo,1/10/2021,7,Homicidio,Siniestro Vial,NaN,Parque Chacabuco,7.0,-34.62917196,-58.43058079,1.0
3,HC-2021-1014154,2021,Enero,Lunes,1/11/2021,9,Homicidio,Siniestro Vial,NaN,Nueva Pompeya,5.0,-34.63867577,-58.4145554,1.0
4,HC-2021-1015476,2021,Enero,Lunes,1/11/2021,21,Homicidio,Siniestro Vial,NaN,Parque Avellaneda,9.0,-34.64771436,-58.46806552,1.0

Este dataset me parece bastante completo, son los delitos en la ciudad de buenos aires del año 2021 (en caso de utilizar este se podrian sumar el resto de años y hacer indicadores respecto año a año